.overview {
    width: 100%;
    padding: 25px;
    gap :25px;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .__overview__top {
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       padding: 0 20px;
       z-index: 1; 
      
        justify-content: space-between;

        .overview__titr {
           

            p {
                font-size: xx-large;
            }
        }

        .overview__btn {
            width: 105px;
            height: 40px;
            position: relative;

            box-icon {
                position: absolute;
                right: 10px;
            }

            button.accordion {
                background-color: $white;
                color: $dark;
                cursor: pointer;
                width: 100%;
                height: 100%;
                text-align: left;
                transition: 0.4s;
                border: 1px solid $gray;
                border-radius: 10px;
                padding-left: 10px;
                //box-shadow: 0px 0px 10px 0px;
            }

            button.accordion.active,
            button.accordion:hover {
                background-color: $white;
            }

            div.panel {
                padding: 0 18px;
                background-color: $white;
                display: none;
                flex-direction: column;
            }

            div.panel.show {
                display: block !important;
                padding: 5px;
                line-height: 1.5;
                border-radius: 10px;
                box-shadow: 1px 1px 4px 0px $dark;

                a {
                    padding-top: 10px;
                    color: $dark;
                }
            }
        }
    }

    .__overview__statistics {
        width: 100%;
        background-color:lighten($gray,25%);
        display: flex;
        flex-wrap: wrap;
        padding: 8px;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        gap: 5px;

        .overview_customers {
            flex: 1;
            min-width:250px;
            height: 109px;
            position: relative;
            border-radius: 10px;

            .icon__statistics {
                background-color: $cyan;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 10px;
                left: 20px;
            }

            h4 {
                position: absolute;
                left: 90px;
                top: 20px;
            }

            span {
                @extend h4;
                top: 40px;
                font-size: xxx-large
            }

            .statistics__Growth {
                position: absolute;
                display: flex;
                align-items: center;
                background-color: lighten($red,30%);
                color: $red;
                border-radius: 15px;
                padding: 5px;
                right: 5px;
                top: 5px;
                cursor: pointer;
            }

        }

        .overview_income {
            @extend .overview_customers;
            background-color: white;
            box-shadow: 0px 4px 8px -4px rgb(0 0 0 / 25%), inset 0px -1px 1px rgb(0 0 0 / 4%), inset 0px 2px 0px rgb(255 255 255 / 25%);

            .statistics__Growth {
                background-color: lighten($green,30%);
                color: $green;
            }
        }
    }

    .__overview__welcome {
       width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .welcome__tex {
            width: 240px;
            height: 48px;
        }

        .welcome__btn {
            width: 146px;
            height: 48px;
            border: 1px solid #d5d5d5;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            button {
                border: none;
                background-color: white;
            }
        }

    }

    .__overview_user {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .user-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .user-1__img {
                width: 84px;
                height: 94px;
                padding-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }

        .user-2 {
            @extend .user-1;
        }

        .user-3 {
            @extend .user-1;
        }

        .Viewall {
            @extend .user-1;

            .Viewall__icon {
                width: 84px;
                height: 84px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid;
                border-radius: 50%;
                cursor: pointer;
                background-color: rgba(192, 192, 192, 0.199);

                &:hover {
                    border: 2px solid rgba(0, 0, 255, 0.349);
                    box-shadow: 0px 0px 5px 0px;
                    background-color: white;
                }
            }

            p {
                padding-top: 10px;
            }
        }
    }
}